.container {
  position: relative;
}

.singleCard {
  display: inline-block;
  vertical-align: top;
  width: 160px;
  height: 208px;
  border-radius: 16px;
  background-size: cover;
  position: relative;
  margin: 16px 15px;
  cursor: pointer;
}

.hovering {
  background: linear-gradient(
    0deg,
    rgba(43, 34, 74, 0.92) 7.69%,
    rgba(70, 58, 113, 0.92) 100%
  );
  backdrop-filter: blur(4px);
}

.p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;

  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, 0%);
}
