.header {
  margin: 16px auto;
  width: 492px;
  height: 40px;
  color: white;
}

.typeBtn {
  border: none;
  background: #251d42;
  border-radius: 4px;
  width: 50%;
  height: 100%;
  color: white;
  position: relative;
}

.status {
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 50%;
  background: #342a56;
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #a094c6;
}

.container::-webkit-scrollbar {
  width: 4px;
  height: 76px;
}

.container::-webkit-scrollbar-thumb {
  background: #53477d;
  border-radius: 8px;
}

.container {
  height: 240px;
}

.arrowUpDown {
  position: absolute;
  right: 16px;
  top: 12px;
}

.typeP {
  position: absolute;
  top: 10px;
  margin-left: 16px;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #a094c6;
}
