.btn {
  background: #7860d7;
  border-radius: 8px;
  padding: 12px 32px;
  color: white;
  border: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 24px;
  cursor: pointer;
}

.btn:hover {
  background: #05c9b7;
}
