.illustrationContainer {
  position: absolute;
  left: 57.64%;
  top: 21.35%;
  width: 375px;
  height: 372px;
}

.planet {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.rocket {
  position: absolute;
  left: 135px;
  top: -72px;
  z-index: 10;
}

.landingGear {
  position: absolute;
  top: 50px;
  left: 152px;
}

.smoke1 {
  position: absolute;
  left: 220px;
  top: 23px;
}

.smoke2 {
  position: absolute;
  left: 87px;
  top: 10px;
}

.enterActive {
  opacity: 1;
}
.enterDone {
  opacity: 0;
  transition: opacity 300ms linear;
}

.exitActive {
  opacity: 0;
}

.exitOut {
  opacity: 0;
  transition: opacity 300ms linear;
}

.launchEnterActive {
  transform: translate(0, 0);
}
.launchEnterDone {
  transform: translate(0, -400px);
  transition: transform 300ms linear;
}

.launchExitActive {
  transform: translate(0, -400px);
}

.launchExitOut {
  transform: translate(0, 0);
  transition: transform 300ms linear;
}
